@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@200;300;500;600&family=Poppins&display=swap');

:root {
  --Branco: #ffffff;
  --Azul: #3772FF;
  --Verde: #36D6AD;
  --Coral: #FC7071;
  --Coral-hover: #FF9D9E;
  --Creme: #FCF0E3;
  --Cinza-escuro: #737380;
  --Cinza-medio: #BCBCBC;
  --Cinza-claro: #F6F6F6;
  --Cinza-claro-fundos: #f7f7f7;
  --fonte-principal: 'IBM Plex Sans', sans-serif;
  --font-secundaria: 'Poppins', sans-serif;
}

* {  
  box-sizing: border-box;
}

html {
  display: flex;
  flex-grow: 1;
  width: 100vw;
}

body {
  background-color: var(--Branco);
  background-image:
     url('/Assent/Forma\ 1.svg'),
     url('/Assent/Forma\ 2\ -\ esquerda.svg');
  background-repeat: no-repeat;
  background-position: left top, left 1px top 23em;
  background-size: 22em 18.4em, 5.2em 25.9em;
  font-family: var(--fonte-principal);
  min-width: 100vw;
  min-height: 100vh;
}

header {
  width: 100vw;
  height: 1.9em;
  display: flex;
  align-items: center;
  margin-top: 3em;
}

.logo-header{
  display: none;
}

header img{
  transition: .8s;
}

header img:hover {
  transform: scale(1.1);
}

header a + a {
  margin-left: 59px;
}

main {
  margin: 6.2em auto;
  width: 100%;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;  
  text-align: center;
}

.content p {
  margin-top: 1.54em;
  width: 312px;
  font-family: var(--font-secundaria);
  color: var(--Azul);
  font-size: 16px;
  line-height: 21px;
}

.content form {
  display: flex;
  flex-direction: column;
}

.content form label {
  margin-top: 20px;
  font-family: var(--font-secundaria);
  color: var(--Cinza-escuro);
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.content form input {
  margin: 5px;
  width: 312px;
  height: 40px;
  border: 0;
  border-radius: 6px;
  text-align: center;
  background-color: var(--Cinza-claro-fundos);
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.15);
}

.content form input::placeholder {  
  color: var(--Cinza-medio);
}

.content .btn-cadastrar {
  width: 180px;
  height: 40px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  background-color: var(--Coral);
  border: 0;
  border-radius: 6px;
  margin-top: 24px;
  color: var(--Branco);
  font-family: var(--font-secundaria);
  font-size: 16px;
  font-weight: 600;
  transition: 1s;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content .btn-cadastrar {
  background-color: var(--Coral-hover);
  transform: scale(1.01);
}

footer {
  position: absolute;
  top: 813px;
  bottom: 0;
  width: 100vw;
  height: 104px;
  background-color: var(--Verde);
  display: flex;
  align-items: center;
  justify-content: center;
}

footer p {
  color: var(--Branco);
  font-family: var(--font-secundaria);
  font-size: 16px;
  font-weight: 400;
}

/* Responsividade */

@media (min-width: 768px) {

  body {
    background-position: left -0.0625em top -0.06em , right top 16.75em, top 44.7em center;
    background-size: 35em 29.4em, 8.4em 41.5em, 21.1em 26.4em;
  }

  header {
    display: flex;
    align-items: center;
    margin-top: 4em;
    padding-left: 3em;
    width: 19em;
    height: 2em;
  }

  main {
    margin-top: 11em; 
    width: 100vw;
  }

  .logo-header{
    display: inline;
  }

  .content img {
    width: 15.75em;
    height: 3.875em;
  }

  .content h1 {
    font-size: 28px;
    margin-top: 40px;
    margin-bottom: 24px;
    font-weight: 500;
    line-height: 48px;
  }

  .content p {
    width: 344px;
    height: 78px;
    font-size: 18px;
    line-height: 26px;
  }
  
  .content a {
    width: 344px;
    height: 48px;
    margin-top: 38px;
    font-size: 18px;
    font-weight: 600;
  }
  
  .content a + a {
    margin-top: 16px;
  }

  footer {
    top: 1096px;
    bottom: 0;
    width: 100vw;
    height: 104px;
  }
} 

/*Desktop*/
@media (min-width:1440px) {
  body {
    background-position: left -0.0625em top -0.06em , right top 11.25em, top 33.4em center;
    background-size: 35em 29.4em, 9em 41em, 21.62em 26.98em;
  }

  header {
    width: 15.7em;
    padding-left: 7em;
    
  }

  main {
    margin-top: 2.25em; 
    width: 100vw;
  }

  .content img {
    width: 16.2em;
    height: 4em;
  }

  .content p {
    width: 488px;
    height: 52px;
  }
  
  .content a {
    width: 362px;
  }
  
  .content a + a {
    margin-top: 16px;
  }

  footer {
    top: 59em;
    bottom: 0;
    width: 100vw;
    height: 5em;
  }
} 