@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@200;300;500;600&family=Poppins&display=swap');

:root {
  --Branco: #ffffff;
  --Azul: #3772FF;
  --Verde: #36D6AD;
  --Coral: #FC7071;
  --Coral-hover: #FF9D9E;
  --Creme: #FCF0E3;
  --Cinza-escuro: #737380;
  --Cinza-medio: #BCBCBC;
  --Cinza-claro: #F6F6F6;
  --Cinza-claro-fundos: #f7f7f7;
  --fonte-principal: 'IBM Plex Sans', sans-serif;
  --font-secundaria: 'Poppins', sans-serif;
}

* {  
  box-sizing: border-box;
}

html {
  display: flex;
  flex-grow: 1;
  width: 100vw;
}

body {
  background-color: var(--Branco);
  background-image: url('/Assent/Forma\ 1.svg');
  background-repeat: no-repeat;
  background-position: left top;
  background-size: 22.1em 18.4em;
  font-family: var(--fonte-principal);
  min-width: 100vw;
  min-height: 100vh;
}

header {
  width: 100vw;
  height: 1.9em;
  display: flex;
  justify-content: space-between;
  align-items:center;
  margin-top: 3em;
}

header .usuario-container {
  margin-right: 2.45em;
}

.logo-header{
  display: none;
}

header img{
  transition: .8s;
}

header img:hover {
  transform: scale(1.1);
}

header a + a {
  margin-left: 59px;
}

main {
  margin: 6.2em auto;
  width: 100%;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;  
  text-align: center;
}

.content h1 {
  margin-top: 1.54em;
  width: 226px;
  font-family: var(--font-secundaria);
  color: var(--Azul);
  font-size: 16px;
  line-height: 20px;
}

.content form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content form label {
  margin: 20px 0 11px 0;
  font-family: var(--font-secundaria);
  color: var(--Cinza-escuro);
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.content form input {
  margin: 5px;
  width: 312px;
  height: 40px;
  border: 0;
  border-radius: 6px;
  text-align: center;
  background-color: var(--Cinza-claro-fundos);
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.15);
}

.content form input::placeholder {  
  color: var(--Cinza-medio);
}

.content a {
  text-decoration: underline;
  color: var(--Coral);
  margin-top: 8px;
}

.content .btn-cadastrar {
  width: 148px;
  height: 40px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  background-color: var(--Coral);
  border: 0;
  border-radius: 6px;
  margin-top: 35px;
  color: var(--Branco);
  font-family: var(--font-secundaria);
  font-size: 16px;
  font-weight: 600;
  transition: 1s;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content .btn-cadastrar:hover {
  background-color: var(--Coral-hover);
  transform: scale(1.1);
}

.content .btn-cadastrar:active {
  background-color: var(--Coral);
  transform: scale(1);
}

footer {
  position: absolute;
  top: 813px;
  bottom: 0;
  width: 100vw;
  height: 104px;
  background-color: var(--Verde);
  display: flex;
  align-items: center;
  justify-content: center;
}

footer p {
  color: var(--Branco);
  font-family: var(--font-secundaria);
  font-size: 16px;
  font-weight: 400;
}

/* Responsividade */

@media (min-width: 768px) {

  body {
    background-image:
    url('/Assent/Patas.svg'), 
    url('/Assent/Forma\ 1.svg'),
    url('/Assent/Forma\ 2.svg');
    background-position: top -36px right, left -1.17px top -1px, right top 16.75em;
    background-size: 292px 374.15px, 560.97px 29.3em, 8.4em 41.5em;
  }

  header {
    display: flex;
    align-items: center;
    margin-top: 4em;
    padding-left: 3em;
    width: 19em;
    height: 2em;
  }

  main {
    margin-top: 11em; 
    width: 100vw;
  }

  .logo-header{
    display: inline;
  }

  .content img {
    width: 15.75em;
    height: 3.875em;
  }

  .content p {
    width: 525px;
    height: 78px;
    font-size: 18px;
    line-height: 26px;
    margin-bottom: 16px;
  }

  .content form label {
    margin: 24px 0 8px 0;
    font-size: 18px;
  }
  
  .content form input {
    width: 344px;
  }
  
  .content .btn-cadastrar {
    width: 164px;
    height: 40px;
    margin-top: 40px;
    font-size: 18px;
  }

  footer {
    top: 1096px;
    bottom: 0;
    width: 100vw;
    height: 104px;
  }
} 

/*Desktop*/
@media (min-width:1440px) {
 
  header {
    display: flex;
    align-items: center;
    margin-top: 4em;
    margin-left: 80px;
    width: 19em;
    height: 2em;
  }

  main {
    margin-top: 2.125em; 
    width: 100vw;
  }

  .logo-header{
    display: inline;
  }

  .content img {
    width: 16.23em;
    height: 4em;
  }

  .content p {
    margin-bottom: 24px;
  }

  .content form label {
    margin: 24px 0 15px 0;
  }
  
  .content form input {
    width: 552px;
  }

  .content form .input-senha {
    width: 22.625em;
  }
  
  .content .btn-cadastrar {
    width: 174px;
  }

  footer {
    top: 59em;
    bottom: 0;
    width: 100vw;
    height: 5em;
  }
} 