@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@200;300;500;600&family=Poppins&display=swap');

:root {
  --Branco: #ffffff;
  --Azul: #3772FF;
  --Verde: #36D6AD;
  --Coral: #FC7071;
  --Coral-hover: #FF9D9E;
  --Creme: #FCF0E3;
  --Cinza-escuro: #737380;
  --Cinza-medio: #BCBCBC;
  --Cinza-claro: #F6F6F6;
  --Cinza-claro-fundos: #f7f7f7;
  --fonte-principal: 'IBM Plex Sans', sans-serif;
  --font-secundaria: 'Poppins', sans-serif;
}

* {  
  box-sizing: border-box;
}

html, body {
  display: flex;
  height: 100%;
  width: 100vw;
}

body {  
  align-items: center;
  flex-direction: column;
  background-color: var(--Branco);
  background-image: url('/Assent/Forma\ 1.svg');
  background-repeat: no-repeat;
  background-position: left top;
  background-size: 22.1em 18.4em;
  font-family: var(--fonte-principal);
  min-width: 100vw;
  height: 100%;
}

header {
  width: 100vw;
  height: 1.9em;
  display: flex;
  justify-content: space-between;
  align-items:center;
  margin-top: 3em;
}

header .usuario-container {
  margin-right: 2.45em;
}

.logo-header{
  display: none;
}

header img{
  transition: .8s;
}

header img:hover {
  transform: scale(1.1);
}

header a:first-child {
  margin-left: 49px;
}

header a:last-child {
  margin-left: 59px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1 0 auto;
  color: var(--Branco);
  margin-top: 82.99px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;  
  text-align: center;
}

.content h1 {
  margin-top: 1.54em;
  width: 226px;
  font-family: var(--font-secundaria);
  color: var(--Azul);
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
}

.content .card-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.content .card {
  background-color: var(--Cinza-claro);
  width: 22.5em;
  height: 12.25em;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--Cinza-escuro);  
  font-family: var(--font-secundaria);
  margin-top: 32px;
}

.content .card img {
  width: 9.25em;
  height: 9.25em;
  margin-right: 1em;
}

.content .card h2 {
  color: var(--Azul);
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  text-align: left;
  margin-bottom: 8px;
}

.content .card p {
  text-align: left;
  font-size: 14px;
  line-height: 20px;  
}

.info-container .caracteristicas{
  margin-bottom: 30px;
}

.card .contato-responsavel {
  display: flex;
  align-items: center;
  justify-content: left;
  margin-top: 8px;
}

.card .contato-responsavel img {
  width: 18px;
  height: 18px;
  margin-right: 8px;
}

.card .contato-responsavel p {
  font-size: 10px;
}

footer {
  width: 100vw;
  height: 104px;
  background-color: var(--Verde);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-shrink: 0;
}

footer p {
  color: var(--Branco);
  font-family: var(--font-secundaria);
  font-size: 16px;
  font-weight: 400;
}

/* Responsividade */

/*Small smartphones*/
@media (max-width: 310px){

  body {
    background-position: top -17px left;
    background-size: 280px 250px;
  }

  header .nav-container {
    display: flex;
    justify-content: center;
    align-items: baseline;
  }

  header .nav-container a:first-child {
    margin-left: 49px;
  }
  
  header .nav-container a:last-child {
    margin-left: 59px;
  }

  .content {
    text-align: center;
    width: 100vw;
    padding: 3px;
  }

  .content p {
    width: 100%;
    text-align: center;
  }

  .content form input {
    width: 250px;
  }

  .content .card {
    width: 100vw;
    height: 12.25em;
  }

  .content .card img {
    width: 7.25em;
    height: 8.25em;
    margin-right: 1em;
  }
  
  .content .card h2 {
    color: var(--Azul);
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    text-align: left;
    margin-bottom: 8px;
  }
  
  .content .card p {
    text-align: left;
    font-size: 13px;
    line-height: 20px;  
  }
  
  .info-container .caracteristicas{
    margin-bottom: 30px;
  }
  
  .card .contato-responsavel {
    display: flex;
    align-items: center;
    justify-content: left;
    margin-top: 8px;
  }
  
  .card .contato-responsavel img {
    width: 16px;
    height: 16px;
    margin-right: 8px;
  }
  
  .card .contato-responsavel p {
    font-size: 9px;
  }

  footer{
    padding: 20px;
  }
}

/*Tablet*/
@media (min-width: 768px) {

  body {
    background-image:
    url('/Assent/Patas.svg'), 
    url('/Assent/Forma\ 1.svg'),
    url('/Assent/Forma\ 2.svg');
    background-position: top -36px right, left -1.17px top -1px, right top 16.75em;
    background-size: 292px 374.15px, 560.97px 29.3em, 8.4em 41.5em;
  }

  header {
    display: flex;
    align-items: center;
    margin-top: 4em;
    padding-left: 3em;
    width: 19em;
    height: 2em;
  }

  main {
    margin-top: 11em; 
    width: 100vw;
  }

  .logo-header{
    display: inline;
  }

  .content img {
    width: 15.75em;
    height: 3.875em;
  }

  .content p {
    width: 525px;
    height: 78px;
    font-size: 18px;
    line-height: 26px;
    margin-bottom: 16px;
  }

  .content form label {
    margin: 24px 0 8px 0;
    font-size: 18px;
  }
  
  .content form input {
    width: 344px;
  }
  
  .content .btn-cadastrar {
    width: 164px;
    height: 40px;
    margin-top: 40px;
    font-size: 18px;
  }

  footer {
    top: 1096px;
    bottom: 0;
    width: 100vw;
    height: 104px;
  }
} 

/*Desktop*/
@media (min-width:1440px) {
 
  header {
    display: flex;
    align-items: center;
    margin-top: 4em;
    margin-left: 80px;
    width: 19em;
    height: 2em;
  }

  main {
    margin-top: 2.125em; 
    width: 100vw;
  }

  .logo-header{
    display: inline;
  }

  .content img {
    width: 16.23em;
    height: 4em;
  }

  .content p {
    margin-bottom: 24px;
  }

  .content form label {
    margin: 24px 0 15px 0;
  }
  
  .content form input {
    width: 552px;
  }

  .content form .input-senha {
    width: 22.625em;
  }
  
  .content .btn-cadastrar {
    width: 174px;
  }

  footer {
    top: 59em;
    bottom: 0;
    width: 100vw;
    height: 5em;
  }
} 