@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@200;300;500;600&family=Poppins&display=swap');

:root {
  --Branco: #ffffff;
  --Azul: #3772FF;
  --Verde: #36D6AD;
  --Coral: #FC7071;
  --Coral-hover: #FF9D9E;
  --Creme: #FCF0E3;
  --Cinza-escuro: #737380;
  --Cinza-medio: #BCBCBC;
  --Cinza-claro: #F6F6F6;
  --fonte-principal: 'IBM Plex Sans', sans-serif;
  --font-secundaria: 'Poppins', sans-serif;
}

body {
  background-color: var(--Azul);
  font-family: var(--fonte-principal);
  width: 360px;
  height: 917px;
}

.fundo-container {
  position: relative;
}

.fundo-container img:first-child{
  position: relative;
  left: -0.5px;
}

.fundo-container img + img{
  position: absolute;
  left: 290px;
  top: 199px;
}

.fundo-container img:nth-child(3n) {
  position: absolute;
  top: 518px;
  left: 34px;
}

header {
  position: absolute;
  top: 48px;
  left: 48px;
  width: 360px;
}

header img{
  transition: .8s;
}

header img:hover {
  transform: scale(1.1);
}

header a + a {
  margin-left: 59px;
}

main {
  position: absolute;
  top: 168px; 
  color: var(--Branco);
  width: 360px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;  
  text-align: center;
}

.content h3 {
  font-size: 26px;
  margin-top: 24px;
  margin-bottom: 16px;
  font-weight: 500;
  line-height: 48px;
}

.content p {
  width: 248px;
  font-family: var(--font-secundaria);
  font-size: 16px;
  line-height: 24px;
}

.content button {
  width: 180px;
  height: 40px;
  filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.25));
  background-color: var(--Coral);
  border: 0;
  border-radius: 6px;
  margin-top: 24px;
  color: var(--Branco);
  font-family: var(--font-secundaria);
  font-size: 16px;
  font-weight: 600;
  transition: 1s;
  cursor: pointer;
}

.content button + button {
  margin-top: 16px;
}

.content button:hover {
  background-color: var(--Coral-hover);
  transform: scale(1.01);
}

footer {
  position: absolute;
  top: 813px;
  bottom: 0;
  width: 360px;
  height: 104px;
  background-color: var(--Verde);
  display: flex;
  align-items: center;
  justify-content: center;
}

footer p {
  color: var(--Branco);
  font-family: var(--font-secundaria);
  font-size: 16px;
  font-weight: 400;
}

/* Responsividade*/

@media (max-width) {
  
}