@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@200;300;500;600&family=Poppins&display=swap');

:root {
  --Branco: #ffffff;
  --Azul: #3772FF;
  --Verde: #36D6AD;
  --Coral: #FC7071;
  --Creme: #FCF0E3;
  --Cinza-escuro: #737380;
  --Cinza-medio: #BCBCBC;
  --Cinza-claro: #F6F6F6;
  --fonte-principal: 'IBM Plex Sans', sans-serif;
  --font-secundaria: 'Poppins', sans-serif;
}

body {
  background-color: var(--Azul);
  font-family: var(--fonte-principal);
  width: 360px;
  height: 917px;
}

body:first-child{
  position: fixed;
}

body img + img{
  position: absolute;
  left: 290px;
  top: 199px;
}

header {
  position: absolute;
  top: 48px;
  left: 48px;
  margin: 0 auto;
}

header a + a {
  margin-left: 59px;
}

main {
  position: absolute;
  top: 168px; 
  color: var(--Branco);
  width: 100%;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;  
  text-align: center;
}

.content h3 {
  font-size: 26px;
  margin: 24px 0 16px 0;
  font-weight: 500;
}

.content p {
  width: 248px;
  font-family: var(--font-secundaria);
  font-size: 16px;
}

.content button {
  width: 180px;
  height: 40px;
  filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.25));
  background-color: var(--Coral);
  border: 0;
  border-radius: 6px;
  margin-top: 16px;
  color: var(--Branco);
  font-family: var(--font-secundaria);
  font-size: 16px;
  font-weight: 600;
}

.content:last-child {
  position: absolute;
  top: 518px;
  left: 34px;
}

footer {
  position: absolute;
  top: 813px;
  bottom: 0;
  width: 360px;
  height: 104px;
  background-color: var(--Verde);
  display: flex;
  align-items: center;
  justify-content: center;
}

footer p {
  color: var(--Branco);
  font-family: var(--font-secundaria);
  font-size: 16px;
  font-weight: 400;
}